.logo {
  height:100px;
  width: 100px;
  margin-top: -23px;
}

.img-container {
  height:200px;
  width:200px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.memberType{
  margin-top: 10.5rem;
  font-size: 1.5rem;
}

#background{
  position:absolute;
  z-index:0;
  background:white;
  display:block;
  min-height:50%;
  min-width:50%;
  color:yellow;
}

#bg-text
{
  color:rgba(0,0,0,0.05);
  font-size:120px;
}

.thumbnail {
  width:100%;
  height:100%;
  object-fit:cover;
}

.card {
  background-color: rgba(245, 245, 245, 0) !important;
}

.navbar {
  min-height: 100px;
  margin-top: 17px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  margin-top: 17px;
}

.nav-item{
  width: 100px;
  font-family: 'Lato', sans-serif;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* -------- Team page -------- */

.meetDiv {
  font-family: 'Playfair Display', serif;
  width: 100%;
  height: auto;
  bottom: 0px;
  top: 0px;
  left: 0;
  position: fixed;
  visibility: visible;
}

.meetCenter {
  position: fixed;
  width: 100px;
  height: 50px;
  top: 40%;
  left: 15%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
  color: #F5A623;
  line-height: 102px;
  font-size: 100px;
  visibility: visible;
}

.meetCenterSmall {
  visibility: hidden;
}

.meetDivSmall {
  visibility: hidden;
}

 .creativeMindsDiv {
   font-family: 'Playfair Display', serif;
   width: 100%;
   height: auto;
   bottom: 0px;
   top: 0px;
   right: 0;
   position: fixed;
 }

.creativeMindsCenter {
  position: fixed;
  width: 100px;
  height: 50px;
  top: 30%;
  right: 40%;
  margin-left: -50px; /* margin is -0.5 * dimension */
  margin-top: -25px;
  color: #F5A623;
  line-height: 7rem;
  font-size: 2rem;
}​

@media (max-width: 576px) {


  /*.creativeMindsDiv {*/
    /*font-family: 'Playfair Display', serif;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*bottom: 0px;*/
    /*top: 0px;*/
    /*right: 0;*/
    /*position: fixed;*/
  /*}*/

  /*.creativeMindsCenter {*/
    /*position: fixed;*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*top: 30%;*/
    /*right: 40%;*/
    /*margin-left: -50px; !* margin is -0.5 * dimension *!*/
    /*margin-top: -25px;*/
    /*color: #F5A623;*/
    /*line-height: 127px;*/
    /*font-size: 63px;*/
  /*}​*/


}

@media (max-width: 768px) {

  .meetDiv {
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: fixed;
    visibility: hidden;
  }

  .meetCenter {
    position: fixed;
    width: 100px;
    height: 50px;
    top: 30%;
    left: 10%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px;
    color: #F5A623;
    line-height: 63px;
    font-size: 65px;
    visibility: hidden;
  }

  .meetDivSmall {
    visibility: visible;
    font-family: 'Playfair Display', serif;
    width: 100%;
    height: auto;
  }

  .meetCenterSmall {
    visibility: visible;
    margin-top: 10px;
    color: #F5A623;
    line-height: 25px;
    font-size: 30px;
  }

  .creativeMindsDiv {
    font-family: 'Playfair Display', serif;
    width: 100%;
    /*height: auto;*/
    bottom: 0px;
    top: 0px;
    right: 0;
    position: fixed;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }

  .creativeMindsCenter {
    position: fixed;
    /*width: 100px;*/
    /*height: 50px;*/
    /*top: 50%;*/
    left: 10%;
    /*right: 50%;*/
    /*margin-left: -50px; !* margin is -0.5 * dimension *!*/
    /*margin-top: -25px;*/
    color: #F5A623;
    line-height: 100px;
    /*font-size: 5px;*/
  }​

  #bg-text
  {
    color:rgba(0,0,0,0.05);
    font-size:2px;
  }

  #background{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:5%;
    min-width:5%;
    color:yellow;
  }

}

@media (max-width: 1200px) and (min-width: 768.1px) {

}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /*.meetDiv {*/
    /*font-family: 'Playfair Display', serif;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*bottom: 0px;*/
    /*top: 0px;*/
    /*left: 0;*/
    /*position: fixed;*/
  /*}*/

  /*.meetCenter {*/
    /*position: fixed;*/
    /*width: 100px;*/
    /*height: 50px;*/
    /*top: 30%;*/
    /*left: 50%;*/
    /*margin-left: -50px; !* margin is -0.5 * dimension *!*/
    /*margin-top: -25px;*/
    /*color: #F5A623;*/
    /*line-height: 128px;*/
    /*font-size: 126px;*/
  /*}​*/
}


  body {
    margin: 0;
    background-size: cover;
  }
  video { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    
      object-fit: cover;
      object-position: center;
  }
  div#fashion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    transition: .4s;
  }
  header:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
  }
  h2 { 
    font-size: 8vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #fff;
    font-weight: 100;
  }