.logo {
  height:100px;
  width: 100px;
  margin-top: -23px;
}

.navbar {
  min-height: 100px;
  margin-top: 17px;
}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
  margin-top: 17px;
}

.nav-item{
  width: 100px;
  font-family: 'Lato', sans-serif;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}


  body {
    margin: 0;
    background-size: cover;
  }
  video { 
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    
      object-fit: cover;
      object-position: center;
  }
  div#fashion {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header {
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    transition: .4s;
  }
  header:hover {
    background: rgba(255,255,255,0.8);
    color: #000;
  }
  h1 {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    letter-spacing: .5rem;
  }
  nav a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
  }
  h2 { 
    font-size: 8vmin;
    text-align: center;
    margin: 2rem 3rem 0;
    mix-blend-mode: overlay;
    color: #fff;
    font-weight: 100;
  }