<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join Us</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/popper.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../static/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="researchDiv">
                    <div class="researchCenter">
                        Join Us
                    </div>
                </div>
                <div class="researchDivSmall">
                    <div class="researchCenterSmall">
                        Join Us
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <h3>About</h3>
                    <p>At Weave Lab we weave interactivity into everyday objects and experiences. We envision as well as
                        discover through critical observations new opportunities for human-computer interactions.
                        Through our extensive research on material and technologies, we prototype manifestations of our
                        ideas, which we then iteratively improve. Our applied research approach interweaves basic
                        research with which we contribute to the advancement of the technologies we leverage.</p>
                    <h3>Location</h3>
                    <p>IIIT-Delhi</p>
                    <h3>Application Process</h3>
                    <p>
                    <ol>
                        <li>Reviewing CV, SOP and Portfolio</li>
                        <li>Interview with head and instructor</li>
                        <li>Interview with faculty</li>
                    </ol>
                    </p>
                    <hr>
                    <div>
                        <h3>Position: Summer Intern (2019)</h3>
                        <p>
                            <strong>What we expect from you</strong>
                        <ul>
                            <li>Being honest, open to critique & communication with your team.</li>
                            <li>To own (take responsibility of) the project you will be working on.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>What you can expect from us</strong>
                        <ul>
                            <li>Challenging work and professional environment.</li>
                            <li>Opportunities to learn beyond the project through tasks and interactions with national
                                and
                                international experts.
                            </li>
                            <li>Sufficient remuneration that will take care of expenses during the internship.</li>
                            <li>We believe in work hard and play hard.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Skills required</strong> <em>(project dependent)</em>
                        <ul>
                            <li>Communication</li>
                            <li>Presentation</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Preferred skills</strong>
                        <ul>
                            <li>VR/AR</li>
                            <li>Mobile app development</li>
                            <li>Design</li>
                            <li>Arduino</li>
                        </ul>
                        <em>Additional:</em>
                        <ul>
                            <li>Embedded programming</li>
                            <li>3D CAD</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Duration of the Internship:</strong> Early May - late July, 2018
                        </p>
                        <p>
                            <strong>Deadline: </strong>Ongoing
                        </p>
                        <a class="btn btn-outline-primary applybtn" href="https://docs.google.com/forms/d/e/1FAIpQLSelK8x46AqFBdQuSHaBp8Xg4wAztY4Qc8UfENpmN4DGRxt4Ng/viewform?usp=pp_url&entry.1004353319=Summer+Intern+(2019)" target="_blank">Apply
                        </a>
                    </div>
                    <hr>
                    <div>
                        <h3>Position: Ph.D. Student</h3>
                        <p>
                            <strong>Essential Qualifications:</strong>
                        <ul>
                            <li>BTech / BE / MTech / BDes / MDes / BFA / MFA</li>
                            <li>CGPA at least 7.5 on a scale of 10 (or equivalent). If your institute does not provide
                                CGPA in the transcript, then at least 70% marks is required to be eligible.
                            </li>
                        </ul>
                        </p>
                        <p>
                            <strong>What we expect from you</strong>
                        <ul>
                            <li>Being honest, open to critique & communication with your team.</li>
                            <li>Perseverance towards his / her own work.</li>
                            <li>Positive attitude.</li>
                            <li>Passion for a topic.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>What you can expect from us</strong>
                        <ul>
                            <li>Challenging work and professional environment.</li>
                            <li>Opportunities to learn beyond the project through tasks and interactions with national
                                and
                                international experts.
                            </li>
                        </ul>
                        </p>
                        <p>
                            <strong>Deadline: </strong>Closed
                        </p>
                            <a class="btn btn-outline-primary applybtn" href="https://docs.google.com/forms/d/e/1FAIpQLSelK8x46AqFBdQuSHaBp8Xg4wAztY4Qc8UfENpmN4DGRxt4Ng/viewform?usp=pp_url&entry.1004353319=Ph.D.+Student" target="_blank">Apply</a>
                    </div>
                    <hr>
                    <div>
                        <h3>Position: Full time Research Associate</h3>
                        <p>
                            <strong>Job description</strong>
                        <ul>
                            <li>Work on some cool research projects from the group involving tangible media, wearables
                                or any interactive system.
                            </li>
                            <li>Involved in prototyping of ideas / research output from Lab.
                            </li>
                            <li>Involved in creating new features and develop the same.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Skills required</strong>
                        <ul>
                            <li>Strong on programming, design (textile, interaction), electronics, prototyping.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Administrative</strong>
                        <ul>
                            <li>Should have some experience with research work.</li>
                        </ul>
                        </p>
                        <p>
                            <strong>Deadline: </strong>January 7, 2019
                        </p>
                            <a class="btn btn-outline-primary applybtn" href="https://docs.google.com/forms/d/e/1FAIpQLSelK8x46AqFBdQuSHaBp8Xg4wAztY4Qc8UfENpmN4DGRxt4Ng/viewform?usp=pp_url&entry.1004353319=Full+time+Research+Associate" target="_blank">Apply</a>
                    </div>

                </div>
            </div>
            <!--<a class="twitter-timeline" href="https://twitter.com/WeaveIIITD?ref_src=twsrc%5Etfw">Tweets by WeaveIIITD</a> <script async src="./twitter_widget.js" charset="utf-8"></script>-->
        </div>
    </div>
</section>
</body>
</html>
