<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="../static/jquery-3.3.1.min.js"></script>
    <script src="../static/popper.min.js"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../static/logo.png" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Research</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Team <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="meetDiv">
                    <div class="meetCenter">
                        Meet<br>
                        the<br>
                        Team
                    </div>
                </div>
                <div class="meetDivSmall">
                    <div class="meetCenterSmall">
                        Meet the Team
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" style="text-align:center;">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 memberType">
                        Adviser
                        <hr style="border-color: #F5A623; width: 50%;">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 centering">
                        <div class="creativeMindsDiv">
                            <div class="creativeMindsCenter">
                                Our<br>
                                Creative<br>
                                Minds
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center; align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Dr. Aman Parnami</b></h5>
                                        <p class="card-text memberField">Wearable Computing, Rapid Prototyping Tools,
                                            Input and
                                            Interactions,
                                            Maker and Design Education</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 memberType">
                        PHDs
                        <hr style="border-color: #F5A623; width: 50%;">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Manideepa Mukherjee</b></h5>
                                        <p class="card-text memberField">Sensor Design, E-Textile</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center; align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Manshul V. Belani</b></h5>
                                        <p class="card-text memberField">HCI, Assistive Technologies, Inclusive
                                            Design</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 memberType">
                        Research Assistants (RA)
                        <hr style="border-color: #F5A623; width: 50%;">
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Deepak Aggrawal</b></h5>
                                        <p class="card-text memberField">Interaction Design, Gestures, AR</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center; align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Jatin Arora</b></h5>
                                        <p class="card-text memberField">HCI, Construction Toolkits, Novel Input
                                            Modalities</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                <div class="card mx-auto" style="width: 100%; text-align: center;">
                                    <div class="img-container">
                                        <img src="../static/placeholder.jpg" alt="..." class="thumbnail">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title memberName"><b>Piyush Kumar</b></h5>
                                        <p class="card-text memberField">VR/ AR/ MR along with Wearable Technologies</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>